.actions {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: row;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 5px;
    font-size: 1.2rem;
    height: 30px;
    line-height: 30px;
}
.actions:after {
    content: ""; 
    clear: both;
}

.cart-button {
    text-decoration: none;
    color: #202220;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    transition: .4s linear;
}
.cart-button:before {
    content: "\f07a";
    font-family: FontAwesome;
    margin-right: 10px;
}
.add-to-cart:hover .cart-button, .wishlist:hover {color: #6b6308;}
.wishlist{
    color: #202220;
    padding-left: 20px;
    transition: .4s linear;
}
.wishlist:after {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.2rem;
}
.wishlist:after {content: "\f005";content: "\f005";}
