.cart {
    margin: auto;
    margin-bottom: 2rem ;

}

.table-cart {

    border-collapse: collapse;
    text-align: center;
    margin: 20px auto;
    td,th {
        border: 1px solid #777777;
        padding: 10px;
    }
    img {
        width: 10em;
    }
}

.quantity-box {
    button {
        cursor: pointer;
    }
}

.exclude { 
    background: none;
    border: none;
    
    cursor: pointer;
    img {width: 100%;}
}

.total {
    text-align: center;
    margin-bottom: 20px;
    color: #777;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Exo, sans-serif;
}

.btn {
    margin: 1rem auto;
    border: 2px solid #6a6747;
    border-radius: 1rem;
    padding: 0.5em;
    display: flex;
    width: 15%;
    
    a {
    color: #6a6747;  
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 600;
    font-family: Exo, sans-serif;
    margin: 0 auto;
    }   
}
