footer {
    position: relative;
    float: left;    
    width: 100%;
    box-sizing: border-box;
    background: #0e0d0d;
    color: @mainText;
}

#copyrights {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

#social {
    margin-top: 10px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.socialItem {
    width: 25px;
    height: 25px;
    margin: 0 5px;
}

#contacts {
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.contactWrap {
    margin-left: 20px;
    font-size: 1.2rem;
}

.contactIcon {
    width: 25px;
    height: 25px;
    float: left;
    margin-right: 10px;
}