/* Form */ 
.ui-form {
    width: 80%;
    max-width: 500px;
    padding: 40px 30px 30px;
    margin: 5vh auto ;
    background: white;
    border: 2px solid @form-color;
    border-radius: 10px;
}

.ui-form h3 {
    position: relative;
    margin: 0 0 30px ;
    text-align: center;
    color: @form-color;
    font-size: 30px;
    font-weight: normal;
}

.form-row {
    position: relative;
    margin-bottom: 40px;
}
.form-row {
    input {
        display: block;
        width: 100%;
        padding: 0 10px;
        line-height: 40px;
        font-family: 'Roboto', sans-serif;
        background: none;
        border-width: 0;
        border-bottom: 2px solid @form-color;
        transition: all 0.2s ease;
    }
    label {
        position: absolute;
        left: 13px;
        color: #9d959d;
        font-size: 20px;
        font-weight: 300;
        transform: translateY(-35px);
        transition: all 0.2s ease;
    }
    input:focus {
        outline: 0;
        border-color: #F77A52;
    }
    input:focus + label, 
    input:valid + label {
    transform: translateY(-60px);
    margin-left: -14px;
    font-size: 14px;
    font-weight: 400;
    outline: 0;
    border-color: #F77A52;
    color: #F77A52;
    }
}


.ui-form button {
    width: 100%;
    padding: 0;
    line-height: 42px;
    background: @form-color;
    border-width: 0;
    color: white;
    font-size: 20px;
}
.ui-form p {
    margin: 0;
    padding-top: 10px;
}

.link {
    margin-top: 20px;
}

.link a {
    color: @form-color;
    font-size: 16px;   
    text-decoration: underline;
}

.exit {
    margin-top: 10px;
}

#error-message {
    text-align: center;
}

