body, html {
    padding: 0;
    margin: 0;
    color: #5e5e5e;
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box; 
}

a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    letter-spacing: 1px;
}

#content {
    width: 90%;
    margin: 0 auto;
    min-height: 60vh;
}

.wrapper-column {
    display: flex;
    flex-direction: column;
}

.wrapper-row {
    display: flex;
    flex-direction: row;
}