/* -------------------- Шапка страницы --------------------- */

header {
    position: relative;
    width: 100%;
    height: 50px;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background: #0e0d0d;
    background-size: 100%;
}

#headerInside {
    width: 90%;
    margin: 0 auto;
}

#logo {
    width: 50px;
    height: 50px;
    float: left;
    background: url('../images/camera.svg') no-repeat;
    background-size: contain;
}

#companyName {
    text-align: right;
    font-family: Huntsman, sans-serif;
    float: left;
    margin-left: 15px;
    font-size: 1.5em;
    line-height: 50px;
    color: @mainText;
}

#navWrap {
    height: 50px;
    float: right;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}

#navWrap a {
    display: block;
    font-family: "Open Sans", sans-serif;
    color: @mainText;
    text-decoration: none;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0 20px;
    height: 70px;
    line-height: 70px;
}

#navWrap a:hover {
    background: #5e5e5e;
}

#navWrap a:last-child {
    border-left: none;
}

.navWrap-img {
    height: 50%;
    margin: -10px;
}

/* -- toggle -- */

.nav-toggle {
    display: none;
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    cursor: pointer;
    
}
.nav-toggle span {
    display: block;
    position: absolute;
    top: 23px;
    left: 8px;
    right: 8px;
    height: 2px;
    background: #fff;
}
.nav-toggle span:before, .nav-toggle span:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
}
.nav-toggle span:before {
    top: -10px;
}
.nav-toggle span:after {
    bottom: -10px;
}

#menu {
    max-height: 0;
    background: rgb(206, 201, 201);
    float: none;
    position: absolute;
    overflow: hidden;
    top: 65px;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 3;
    }

#menu li {
    display: block;
    text-align: center;
    border-bottom: 1px solid #EBEBE3;
    margin-right: 0;
}

#menu a {
    font-size: 1.4em;
    color: #5e5e5e;
}

#menu.active {
    max-height: 100px;
}
