/* -------------------- Главная --------------------- */

/* selector: saturate(@card-color, 20%; делает цвет ярче */

#promo {
    background: url("../images/promo2.jpeg") no-repeat;
    background-size: cover;
    overflow: hidden; 
    
} 

#mainText {
    width: 30%;
    margin: 5%;
    float: left;
    color: @mainText;
    font-size: 2vh;
    line-height: 1.8em;
}

#promoTitle {
    text-align: center;
}

#mobileText {
    display: none;
    width: 80%;
    margin: 0 auto;
}

/* ------------------ Главная страница магазина ---------------------- */

#shopWrap {
    width: 98%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.shopUnit {
    float: left;
    width: 28%;
    padding: 5px;
    border: 1px solid #777777;
    margin: 2%;
    margin-bottom: 20px;

}

.shopUnitName {
    margin-top: 1rem;
    min-height: 50px;
    width: 90%;
    text-align: center;
    font-family: Exo, sans-serif;
    font-size: 1.2rem;
}

.shopUnitImg img{
    width: 80%;
    display: block;
    margin: auto;
}


.shopUnitShortDesc {
    text-align: justify;
    margin-top: 10px;
}

.shopUnitPrice {
    text-align: right;
    padding-right: 20px;
    margin-top: 10px;
    color: #6a6747;
    font-weight: bold;
    align-items: center;
    display: flex;
    font-size: 1.2rem;
    //float: left;
}

.shopUnitMore {
    font-family: OpenSans, sans-serif;
    border: none;
    padding: 5px 15px;
    background-color: #0e0d0d;
    display: block;
    margin-top: 1.2rem;
    text-align: center;
    color: #e6e09a;
    text-decoration: none;
    text-transform: uppercase;
}

.shopUnitMore:hover {
    color: #fff;
    background-color: #777777;
}

/* ----------------  Страница с открытым товаром ----------------------- */

#openedProduct {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 12% auto;
}

#openedProduct-img {
    float: left;
    width: 45%;
    margin-right: 3%;
}

#openedProduct-img img {
    width: 100%;
    padding: 5px;
    border: 1px solid rgba(225, 225, 225, 0.7);
}

#openedProduct-content {
    width: 50%;
}

#openedProduct-name {
    font-family: Exo, sans-serif;
    font-size: 2em;
    margin-top: 0;
    text-align: center;
}

#openedProduct-desc {
    margin-top: 20px;
    font-size: 1.2rem;
}

#openedProduct-price {
    margin-top: 10px;
    color: #6a6747;
    font-weight: bold;
    float: left;
    font-size: 1.5rem;
}

#openedProduct-backlink a {
    margin-top: 10px;
    font-weight: bold;
    float: right;
    color: #0e0d0d;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

#openedProduct-btn button {
    width: 50%;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    background-color: #0e0d0d;
    display: block;
    margin: 20px auto; 
    text-align: center;
    color: #e6e09a;
    text-transform: uppercase;
    font-size: 2rem;
    margin-top: 4rem;
}

#openedProduct-btn button:hover {
    color: #fff;
    background-color: #777777;
}



