/* ---------------- Адаптивность ---------------- */

@media (max-width: 1366px) {
    footer {
        position: relative;
        float: left; 
    }

    #promo {
        background: url("../images/promo2.jpeg") no-repeat center fixed;
        background-size: cover;
        overflow: hidden;  
    } 
    
    .shopUnit {
        width: 40%;
    }
    
    
    #mainText {
        width: 40%;
        margin: 4%;
        font-size: 2vh;
        line-height: 1.1em;    
    }
    
    #mobileText {
        display: none;
        color: #0e0d0d;
        font-size: 2vh;
    }

    /*----- открытый товар -----*/
    #openedProduct {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 8% auto;
    }
    
    #openedProduct-img {
        width: 80%;
        margin: 0 auto;
    }
    #openedProduct-content {
        margin: 2% auto;
        width: 100%;
    }

    .contactWrap {
        margin-left: 20px;
        font-size: 1.2rem;
    }
    
    #openedProduct-btn button {
        font-size: 2rem;
        width: 100%;
    }
}

@media (max-width: 420px) {

    /*----- Шапка -----*/
    #headerInside {
        width: 80%;
        margin: 0 auto;
    }
    
    .nav-toggle {
    display: block;
    }

    #navWrap {
        display: none;
    }

    #shopWrap {
        font-size: 0.8em;
    }

    header {
        font-size: 0.7em;
    }

    /*----- главная стр. -----*/

    #promo {
        background: url("../images/promo2.jpeg") 100% no-repeat;
        background-size: cover; 
        height: 43vh;
    } 
    
    #mainText {
        display: none;
    }

    #mobileText {
        display: flex;
        flex-direction: column;
        color: #000;
        font-size: 1em;   
        padding: 2%;
        
    }

    /*----- главная стр. магазина -----*/
    .shopUnit {
        width: 90%;
    }
    .shopUnit img {
        width: 100%;
        height: 25%;
    }

    /*----- открытый товар -----*/
    #openedProduct {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 8% auto;
    }
    
    #openedProduct-img {
        width: 95%;
        margin: 0 auto;
    }
    #openedProduct-content {
        margin: 0 auto;
        font-size: 0.8em;
        width: 100%;
    }
    #openedProduct-name {
        font-size: 1em;
        text-align: center;
        
    }
    #openedProduct-desc {
        margin-top: 20px;
        font-size: 1rem;
    }

    #openedProduct-btn button {
        font-size: 1rem;
        width: 100%;
    }

    #openedProduct-price {
        font-size: 1rem;
    }
    
    #openedProduct-backlink a{
        font-size: 1rem;
    }
    
    /*----- подвал -----*/
    footer {
        box-sizing: border-box;
    }

    .contactIcon {
        width: 15px;
        height: 15px;
        float: left;
        margin-left: 70px;
    }
    .socialItem {
        width: 20px;
        height: 20px;
    }
    
    #social {
        float: left;
    }

    #contacts {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        margin-top: 10px; 
        justify-content: center;
          
    }

    .contactWrap {
        margin-left: 20px;
        font-size: 1rem;  
    }
}
