.adress-box {
    display: flex;
    width: 100vw;
    text-align: center;
    margin-bottom: 2rem;
    form {
        margin: 0 auto;
    }
    
    input{
        margin-left: 10px;
        line-height: 26px;
        background: none;
        border-width: 0;
        border-bottom: 1px solid #777777;
        transition: all 0.2s ease;
        font-size: 20px;
        width: 25%;
    }

    label {margin-left: 10px;}

    .but {
        background: none;
        border: 2px solid #6a6747;
        border-radius: 1rem;
        color: #6a6747;  
        font-size: 1.2em;
        text-transform: uppercase;
        font-weight: 600;
        font-family: Exo, sans-serif;
    }
}

.order-address {
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    font-family: Exo, sans-serif;
    margin-bottom: 2em;
}