.paginationWrap {
    display: flex;
    clear: both;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    select {
        background: transparent;
        padding: 5px;
        font-size: 16px;
        line-height: 1;
        border: 0;
        border-radius: 0;
        height: 34px;
        cursor: pointer;
    }
    span {
        font-size: 16px;
    }
}

.pagination {
    padding-left: 0;
    margin-right: 20px;
    border-radius: 4px;
    border: 1px solid #0e0d0d;  
    overflow: hidden;

    li {
        display: inline;
        padding: 10px;
        border-right: 1px solid #0e0d0d;
    }

    li:last-child {
        border-right: none;
    }

    a {
        color: #0e0d0d;
        outline: none;
        font-size: 1.2rem;  
        cursor: pointer;      
    }  
}

.active {
    background: #777777;
    background-size: 100%;
    a {
        color: #fff;
    }
}

