.profile-menu {
    a {
        text-align: center;
        margin: 0 auto;
        color: #0e0d0d;
        font-size: 1.2em;
        text-transform: uppercase;
        font-weight: 600;
        font-family: Exo, sans-serif;
    }
    .activeBlock {
        color: #6a6747;
    }
    :hover {
        color: #777777;
    }
}

.profile-box {   
    padding: 5px 30px;
    border: 1px solid #777777c9;
    border-radius: 1rem;
    margin: 1rem; //auto;
    max-width: 28%;    
}

.profile-data { 
    display: flex;
    padding-bottom: 20px;

    input{
        margin-left: 10px;
        line-height: 26px;
        background: none;
        border-width: 0;
        border-bottom: 1px solid #777777;
        transition: all 0.2s ease;
        font-size: 20px;
    }

    label {
        color: #9d959d;
        font-size: 20px;
        line-height: 30px;
    }
    button {
        width: 100%;
        padding: 0;
        background: #777777;
        border-width: 0;
        border-radius: 1rem;
        color: white;
        font-size: 20px;
    }
}

.address-check {
    align-items: center;
    input {
        width: 20px;
    }
}

.favorites-box {
    padding: 5px 30px;
    border: 1px solid #777777c9;
    margin: 0 1rem;
    margin-bottom: 20px;
    align-items: center;  
    img{
        width: 50%;
    }
    .favorites {
        margin: 1rem;
    }
    .favorites-name {
        font-weight: bold;
    }
    .favorites-price {
        color: #6a6747;
        font-weight: bold;
        font-size: 1.5rem;
        min-width: 8%;
    }
}

.deleteFavorites {
    background: none;
    border: none;
    width: 100px;
    cursor: pointer;
}
